body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.container {
    width: 600px;
    height: 600px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    display: grid;
}