body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    height: 600px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    display: grid;
    margin-top: 15vh;
}

.color {
    background-color: black;
}

.startContainer {
    display: grid;
    place-items: center;
}